@charset "UTF-8";

@font-face {
    font-family: Quicksand;
    src: url("Quicksand-Regular.woff") format("woff"), url("Quicksand-Regular.ttf") format("truetype");
}

html {
    background-color: hsl(27, 72%, 72%);
}

body {
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Verdana, Geneva, sans-serif;
}

body > footer address {
    color: white;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgb(222, 128, 60);
    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    font-family: Quicksand, Verdana, Geneva, sans-serif;
    letter-spacing: 0.1em;
}

nav {
    font-size: 0.8em;
}

nav > ul {
    line-height: 2em;
}

article#about_tss h1 {
    color: white;
    background-color: rgb(222, 128, 60);
}

article#about_tss h2 {
    color: white;
    background-color: rgb(235, 177, 131);
}

article.syllabus h1, article.syllabus h2 {
    color: rgb(101, 101, 101);
    background-color: rgb(255, 185, 255);
}

aside {
    font-size: 0.8em;
}

aside blockquote {
    color: rgb(232, 165, 116);
}
